{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_grp_new' %}

{% block main %}
    <h1>Group creation</h1>

    {{ include('admin/blog/_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
